streamlit
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PyPDF2
python-dotenv
langchain
langchain-openai
chromadb
openai
Pillow
pytesseract
sentence-transformers
requests
numpy
pandas